/* defining styles for single page app */
.header{
  background:#f7a1a1;	
  padding:15px;
  margin-bottom:15px;
}
.header img{
  width:180px;
  height:60px;  
}
.header h1{
  text-align:center;
  font-family:'Arial Rounded MT';
  font-size:2.5rem;
}

.menubar{
  background:#000;
  text-align:center;
  margin-bottom:15px;
}
.menubar a{
  color:#FFF;
  text-decoration:none;
  font-size:20px;
  display:inline-block;  
  width:100px;
  padding-top:5px;
  padding-bottom:5px;
}
.menubar a:hover{
  background:#F00;
  color:#000; 
}

.section{
  width:100%;
  height:600px;  
  background:#f1b9b9;
  margin-bottom:15px;
}
.frame{
  width:100%;
  height:100%;  
  border:none;
}

.footer{
  background:#000;
  padding:15px;
}
.footer div{
  color:#eaeaea;
  columns:2;  
}
.footer strong{
  color:#FFF;	
}
.footer hr{
  width:80%;	
  border:1px solid #FFF;
}
.footer p{
  text-align:center;
  color:#eaeaea;
}